@{
    ViewBag.Title = "Home Page";
}

<div class="overlap">
    <div class="jumbotron overlap-front">
        <h1>Catálogo Super Heroes </h1>
        <p class="lead">
            Desde el principio de la historia del cine, las películas que más éxito han tenido han sido las de superhéroes, historias que sabemos que son ficticias.
            Hoy en día, en cada país tenemos nuestros propios superhéroes reales, los más sonados son los sanitarios.
            En este apartado se exponen tanto los superhéroes de siempre como los que hoy en día nos están salvando del gran villano que es el Covid.
        </p>
    </div>
    <div class="overlap-back bg-onepiece"></div>
</div>

<div class="row">
    <div class="col-md-3 overlap">
        <div class="overlap-front">
            <h2>Sanitarios</h2>
            <p>
                ¿Los héroes del siglo XXI se llaman “sanitarios”?
                Con humildad, la mayoría de estos sanitarios rechaza considerarse un héroe. Todos coinciden en decir que «tan solo» hacen su trabajo, muy vocacional.
                «Es verdad que estamos en primera línea y me gusta estar haciendo algo por esta sociedad, pero es nuestro trabajo. Nos han entrenado para esto toda la vida»
            </p>
            <p><a class="btn btn-default" href="/Sanitarios">Listado &raquo;</a></p>
        </div>
        <div class="overlap-back bg-sanitario"></div>
    </div>

    <div class="col-md-3 overlap">
        <div class="overlap-front">
            <h2>Bomberos</h2>
            <p>
                los bomberos cumplen un importante rol social en la prevención y cuidado de sus comunidades. 
                Los cuerpos no solamente asisten en situaciones de emergencia como incendios o inundaciones sino que también brindan capacitaciones y realizan acciones de difusión para promover sociedades más seguras.

            </p>
            <p><a class="btn btn-default" href="/Bomberos">Listado &raquo;</a></p>
        </div>
        <div class="overlap-back .bg-bombero"></div>
    </div>

    <div class="col-md-3 overlap">
        <div class="overlap-front">
            <h2>Heroes de Marvel</h2>
            <p>
                Stanley Martin Lieber, Stan Lee para millones de personas, es el padre del universo Marvel. Un padre que, a sus 96 años, ha visto cómo todo tardaba en llegar: sus creaciones más famosas para el cómic las parió rozando los 40 años. Y todavía tuvo que esperar otras cuatro décadas para ver cómo sus criaturas se convertían en estrellas de la taquilla.
            </p>
            <p><a class="btn btn-default" href="/Marvels">Listado &raquo;</a></p>
        </div>
        <div class="overlap-back bg-marines"></div>
    </div>

    <div class="col-md-3 overlap">
        <div class="overlap-front">
            <h2>Heroes de DC</h2>
            <p>
                A lo largo de sus ocho décadas de existencia, DC Comics nos ha presentado a todo tipo de personajes, desde el alienígena que llegó a la tierra para convertirse en su salvador, hasta el millonario que sacrifica una vida estable por impartir justicia en una ciudad al borde del colapso.
            </p>
            <p><a class="btn btn-default" href="/DCs">Listado &raquo;</a></p>
        </div>
        <div class="overlap-back bg-marines"></div>
    </div>
</div>
